h4 {
	font-size: 24px;
}

/* No mostrar la imagen superior en móviles */
@media(max-width: 992px) {
	.imagen-cabecera {
		display: none;
	}

	.c-layout-page {
		margin-top: 50px !important;
	}

	.c-content-media-1 {
		margin-bottom: 10px;
	}
}

/* Para que la imagen superior vaya por todo el ancho de la barra */
.c-bgimage {
    background-size: cover;
}

/* Menú de navegación */
.c-page-on-scroll .c-layout-header.c-layout-header-2 {
	background: rgb(30 63 97);
}

.c-page-on-scroll.c-layout-header-fixed .c-layout-header {
	height: 65px;
}

.c-navbar .c-logo, .c-navbar .c-desktop-logo, .c-navbar .c-desktop-logo-inverse {
	width: 250px;
	margin-top: 0px;
}

img.c-mobile-logo {
    width: 200px;
    margin-top: -12px;
}

@media(min-width: 992px) {

	.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand {
		margin-top: 7px;
	}

	.c-page-on-scroll.c-layout-header-fixed .c-layout-header {
		height: 90px;
	}
	
	.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand .c-desktop-logo-inverse {
		width: 200px;
	}

	.c-layout-header .c-navbar .c-mega-menu.c-pull-right {
		margin-top: 14px;
	}

	.c-layout-header .c-brand .c-desktop-logo {
		display: inline-block;
		margin-top: -25px;
	}

}

@media(min-width: 992px) and (max-width: 1379px) {
	
	/*.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand .c-desktop-logo-inverse {
		width: 140px;
	}
	
	.c-layout-header .c-navbar .c-mega-menu.c-pull-right {
		margin-top: -80px;
		margin-left: 120px;
	}*/
	
		.c-layout-header .c-navbar .c-mega-menu.c-pull-right a {
			font-size: 11px;
		}

		.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand .c-desktop-logo-inverse {
			width: 170px;
    		margin-top: 16px;
		}
	
}

@media(min-width: 1380px) {

	.c-page-on-scroll.c-layout-header-fixed .c-layout-header .c-brand .c-desktop-logo-inverse {
		width: 220px;
		margin-top: 8px;
	}
}

/* Menú para pantallas pequeñas de ordenador (o grandes de tableta) */
@media (max-width: 1210px) {
	.c-layout-header .c-navbar .c-mega-menu.c-pull-right {
		margin-top: -70px !important;
	}

	/*.c-mega-menu.c-pull-right {
		height: 170px;
	}*/
}

/* Fondo del menú */
@media (min-width: 1210px) {
	.c-theme-nav {
		height: 115px !important;
	}
}

/* Fin del CSS del menú */

/*.c-layout-breadcrumbs-1 {
	background: none;
}

.c-page-title h1 {
	text-align: center;
    font-size: 30px;
}*/

/* Para quitar el fondo de luces y que no quede mal*/
/*.c-layout-breadcrumbs-1.c-bgimage {
	padding: 40px 0;
}*/


.horario {
	background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../img/volunfair/fondos/SalaMaq2.jpg');
}

	.horario .c-content-media-1 {
		background-color: rgba(0, 0, 0, 0)
	}
	
	.horario .c-content-media-1.c-bordered {
		border: 0px;
	}

.tam_completo {
	width: 100%;
}

.row-ong {
	float: none;			/* Para quitar el float_left de los col-md */
	display: inline-block;
	padding: 15px 0;
}

.anteriores, .premiados {
	text-align: center;
}

	.anteriores img, .premiados img {
		width: 100%;
		max-width: 100%;
		max-height: 100%;
	}

.c-content-media-1 p {
	text-align: justify;
}

.c-background-gray {
	background-color: rgb(232, 235, 235);
}

/*******************************************
	IMÁGENES EQUIPO
*******************************************/
/* Para que las imágenes de "Conócenos" sean asimétricas */
/*.fotos img {
	border-radius: 50% 20%;
}*/
/* Para que las imágenes de "Conócenos" sean circulares */
/*.fotos img {
	border-radius: 70%;
}*/

/* Efecto al pasar el ratón */
.v-invisible {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	/*transition: .5s ease;*/
}
.imagenes:hover .v-invisible {
	opacity: 1;
}

/* Ajustes de tamaño */
@media (max-width: 1200px) {
	.imagenes:hover .v-invisible {
		max-width: 205px;
		left: 15px;
	}
	.imagenes img {
		max-width:205px;
		max-height: 136px;
		object-fit: cover;
	}
}
@media (min-width: 1200px) {
	.imagenes:hover .v-invisible {
		max-width: 255px;
		left: 15px;
	}
	.imagenes img {
		max-width:255px;
		max-height: 170px;
		object-fit: cover;
	}
}
/* Fin imágenes equipo */

/* Chapuza para que se vea siempre la imagen de inicio */
@media (min-width: 1200px) {
	.solomediano1 {
		display: block;
	}
}

/* Para quitar el azul horrible de antes */
.c-theme-bg, .c-line-left {
    background: gray !important;
}

a:active, a:hover, a:focus {
    color: gray !important;
}

.c-theme-nav li.c-active > a:not(.btn) {
    color: grey !important;
}

/* Estilos de Qué es VOLUNFAIR */
.que-es p{
	text-align: center;
}

.c-icongrande {
	text-align: center;
	font-size: 2em; /*2em*/
}

.img-centrada {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Para ajustar el tamaño de los vídeos al móvil */
.delimitador{
	width:500px;
	margin:auto;
}
.contenedor{
	height:0px;
	width:100%;
	padding-top:63%;
	position:relative;
}
.contenedor iframe{
	position:absolute;
	height:100%;
	width: 100%;
	top:0px;
	left:0px;
}

/* Podemos eliminar este estilo si no queremos que se adapte al ancho máximo */
.delimitador{
    width:560px;    /* Ancho máximo */
    margin:auto;    /* Centramos el vídeo */
}
/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor{
    height:0px;
    width:100%;
    padding-top:56.25%; /* Relación: 16/9 = 56.25% */
    position:relative;
}
/* El iframe se adapta al tamaño del contenedor */
.contenedor iframe{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}
/* Tarjetas transparentes */
.transparente {
	opacity: 0.8;	
}

/*Cambiar foto al pasar el ratón*/
.v-visible {
	opacity: 1;
	/*transition: .5s ease;*/
}

/*Boton del buscador de ong (el de o-general.css)*/
.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

/*Contenido de o-general*/
body {
    overflow-x: hidden;
}

/* Iconos centrados */
.c-icons-center {
    display: flex;
    justify-content: center;
}

.bg-secondary {
    background-color: lightgray;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

/* Para Google Maps */
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

    .map-container iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

    
/* Que las col-md- de una misma row se alineen verticalmente. Se aplica AL ROW */
.align-items-center {
	display: flex;
    align-items: center;
}

/*Fin Contenido de o-general*/

/*Contenido de o-2021 */
#flip-container{
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.visibility2{
  display: none;
}
.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  transform-origin: 100% 150px;  
  height: 300px;
}
.card:hover, .card.flip{
  transform: rotateX(180deg);
}
.front, .back{
  position: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.front{
  transform: rotateX(0deg);
  z-index: 2;  
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.front{
  transform: rotateX(0deg);
  z-index: 2;  
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.back{
  transform: rotateX(180deg);
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #330737;
  color: white;
  
}
.textStart{
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
}
.button-start{
	float: center;
	align-items: center;
	margin-left: 2%;
	border-radius: 5px;
	color: white;
	background-color: #157771;
	border-radius: 10rem;
	border-width: 0px;
}
.color-text{
	color: #075364;
	font-size: 24px;
	text-align: center;
}
.color-text2{
	color: #3C0B71;
	font-size: 24px;
	text-align: center;
}
@media (min-width: 577px) and (max-width: 992px) {
  .visibility1 {
    display: none;
  }
  .visibility2{
    display: inline-flex;
  }
  .card {
    width: 200px !important;
  }
  #flip-container{
    margin-right: 4%;
  }
  .textTitle{
    text-align: center;
  }
}
@media (min-width: 380px) and (max-width: 576px) {
  .visibility1 {
    display: none;
  }
  .visibility2{
    display: inline-flex;
  }
  .card {
    width: 160px !important;
  }
  #flip-container{
    margin-right: 3%;
  }
  .color-text{
    font-size: 18px;
  }
  .card-body-vf{
    padding-right: 0 !important;
  }
  .textTitle{
    text-align: center;
  }
}
@media (max-width: 379px) {
  .visibility1 {
    display: none;
  }
  .visibility2{
    display: inline-flex;
  }
  .card {
    width: 120px !important;
  }
  #flip-container{
    margin-right: 2%;
  }
  .color-text{
    font-size: 14px;
  }
  .card-body-vf{
    padding-right: 0 !important;
  }
  .textTitle{
    text-align: center;
  }
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}

/*Fin Contenido de o-2021 */
